* {
  position: relative;
  box-sizing: border-box; }

body, html {
  margin: 0;
  background: linear-gradient(135deg, #efe1ff 0%, #dab9ff 50%, #c18fff 50%, #8819ff 100%);
  font-family: sans-serif;
  height: 100%; }

#login-screen {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 4; }

.image {
  width: 20%;
  max-width: 100px; }

.container {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: transparent;
  margin: 20px; }

button {
  display: flex;
  border: none;
  background: none;
  justify-content: center;
  align-items: center; }

.icon {
  height: 7rem;
  width: 7rem; }

.icon-github {
  height: 6rem;
  width: 10rem; }

.buttons {
  display: flex;
  flex-direction: column;
  background: none;
  border: none; }

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.input-container {
  background-color: #eee;
  padding: 10px;
  display: flex;
  bottom: 0;
  width: 100%;
  position: fixed; }

input:hover {
  background-color: #D1B6E1; }

#message-input {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  padding: 8px 15px; }

#message-input:focus {
  outline: none; }

#chat-screen {
  display: none;
  height: 100vh;
  flex-direction: column; }

.chat {
  height: 90px; }

.user-name {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold; }

.message-container {
  padding: 7px 15px;
  display: flex;
  position: relative;
  background-color: white;
  margin: 20px; }

.message-container:last-of-type {
  animation: new-message 300ms 50ms forwards;
  background-color: white;
  margin: 20px; }

@keyframes new-message {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  95% {
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
