*{
    position: relative;
    box-sizing: border-box;
}

body, html{
  margin: 0;
   background: linear-gradient(135deg, rgb(239,225,255) 0%,rgb(218,185,255) 50%,rgb(193,143,255) 50%,rgb(136,25,255) 100%);
  font-family: sans-serif;
  height: 100%;
}

@import "login";
@import "chat";
